{% extends 'dashboard/dash-window.html' %}
{% block dash %}

<div class="border rounded p-3">
    <div class="text-center" id="client-info">
        <h2 class="m-0">{{ current_client.client_name }}</h2>
        <div>
            <ul class="list-inline m-0">
                <li class="list-inline-item">
                    {{current_client.address}}
                </li>
                <li class="list-inline-item">{{current_client.city}}, {{current_client.state}}</li>
                <li class="list-inline-item"><span class="mr-2">{{current_client.zipcode}}</span>{{current_client.country}}</li>
            </ul>
            <ul class="list-inline m-0">
                <li class="list-inline-item">
                    <span class="font-weight-bold">MC#: </span>
                    {{current_client.mc_number}}
                </li>
                <li class="list-inline-item">
                    <span class="font-weight-bold">DOT#: </span>
                    {{current_client.dot_number}}</li>
                {% if current_client.quickpay == 1 %}
                <li class="list-inline-item text-success">
                    Quickpay Available
                </li>
                {% else %}
                <li class="list-inline-item text-danger">
                    Quickpay Not Available
                </li>
                {% endif %}
            </ul>
            <hr />
        </div>
    </div>
    <div id="client-contact">
        <div>
            <ul class="list-inline d-flex justify-content-around">
                <li class="list-inline-item">
                    <img src="/static/img/icons/phone.png" class="mr-1" />
                    {{current_client.phone}}
                </li>
                <li class="list-inline-item">
                    <img src="/static/img/icons/fax.png" class="mr-1" />
                    {{current_client.fax}}
                </li>
                <li class="list-inline-item">
                    <img src="/static/img/icons/mail.png" class="mr-1" />
                    {{current_client.email}}
                </li>
            </ul>
        </div>
        <div id="quickpay-info">
            {% if current_client_quickpay is none %}
            Quickpay not available
            {% else %}
            {% include 'dashboard/dash-quickpay-view.html' %}
            {% endif %}
        </div>
    </div>
    <div id="client-manage-buttons">
        <a href="#" id="editClientButton" class="btn btn-primary" data-toggle="modal" data-target="#editClientModal">
            Edit Client Info
        </a>
        <a href="#" id="quickpayButton" class="btn btn-primary" data-toggle="modal" data-target="#AddQuickpayModal">
            {% if current_client.quickpay == 1 %}
            Edit Quickpay Info
            {% else %}
            Add Quickpay Info
            {% endif %}
        </a>
        <a href="#" id="deleteClientBUtton" class="btn btn-danger" data-toggle="modal" data-target="#deleteClientModal">
            Delete Client
        </a>

    </div>

</div>

<!-- Modal -->
<div class="modal" id="AddQuickpayModal" tabindex="-1" role="dialog" aria-labelledby="addQuickpayModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addQuickpaytModalLabel">Edit Quickpay Information</h5>
            </div>

            {% include 'dashboard/dash-add-quickpay.html' %}

        </div>
    </div>
</div>

<!-- Edit Client Info Modal -->
<div class="modal" id="editClientModal" tabindex="-1" role="dialog" aria-labelledby="editClientModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editClientModalLabel">Edit Client Info</h5>
            </div>
            {% include 'dashboard/dash-edit-client.html' %}
        </div>
    </div>
</div>

<!-- DElete Modal -->
<div class="modal" id="deleteClientModal" tabindex="-1" role="dialog" aria-labelledby="deleteClientModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteClientModalLabel">Delete Client Info</h5>
            </div>
            {% include 'dashboard/dash-delete-client.html' %}
        </div>
    </div>
</div>



{% endblock %}