<div class="modal-body">
    <div class="alert alert-info">Leave blank if no change is required.</div>
    <form method="POST" action="#">
            {{ form2.hidden_tag() }}
            <p>
                {{ form2.pay_percentage.label }}<br>
                {{ form2.pay_percentage(size=32) }}<br>
                {% for error in form2.pay_percentage.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            </p>
            <p>
                {{ form2.send_to.label }}<br>
                {{ form2.send_to(size=32) }}<br>
                {% for error in form2.send_to.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            </p>
            <p>
                {{ form2.send_to_type.label }}<br>
                {{ form2.send_to_type() }}<br>
                {% for error in form2.send_to_type.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            </p>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            {{ form2.submitQuickpay() }}
        </div>
    </form>
</div>