<div>
    <nav class="nav nav-pills nav-fill flex-column">
        <a id="dashboard-main" class="nav-item nav-link" href="{{url_for('main.dashboard')}}">Main</a>
        <a id="dashboard-clients" class="nav-item nav-link" href="{{url_for('main.clients')}}">Clients</a>
        <a id="dashboard-employees" class="nav-item nav-link" href="{{url_for('main.employees')}}">Employees</a>
        <a id="dashboard-expenses" class="nav-item nav-link" href="{{url_for('main.expenses')}}">Expenses</a>
        <a id="dashboard-invoices" class="nav-item nav-link" href="{{url_for('main.invoices')}}">Invoices</a>
        <a id="dashboard-company" class="nav-item nav-link" href="{{url_for('main.my_company')}}">My Company</a>
        <a id="dashboard-trips" class="nav-item nav-link" href="{{url_for('main.trips')}}">Trips</a>
        <a id="dashboard-trucks" class="nav-item nav-link" href="{{url_for('main.trucks')}}">Trucks</a>
    </nav>
</div>