<div>
    <h3>Quickpay {{current_client_quickpay.send_to_type}}</h3>
    <div class="row alert alert-primary m-1">
        <div class="col d-flex justify-content-between">
            <span class="font-weight-bold">Percentage: </span>
            <span>{{current_client_quickpay.pay_percentage}} %</span>
        </div>
        <div class="col d-flex justify-content-between">
            <span class="font-weight-bold">Send To: </span>
            <span>{{current_client_quickpay.send_to}}</span>
        </div>
    </div>

</div>