{% extends 'dashboard/dash-window.html' %}
{% block dash %}

<div class="border rounded p-3">
    <div class="text-center">
        <h2 class="m-0">{{ current_client.client_name }}</h2>
        <div>
            <ul class="list-inline m-0">
                <li class="list-inline-item">
                    {{current_client.address}}
                </li>
                <li class="list-inline-item">{{current_client.city}}, {{current_client.state}}</li>
                <li class="list-inline-item"><span class="mr-2">{{current_client.zipcode}}</span>{{current_client.country}}</li>
            </ul>
            <ul class="list-inline m-0">
                <li class="list-inline-item">
                    <span class="font-weight-bold">MC#: </span>
                    {{current_client.mc_number}}
                </li>
                <li class="list-inline-item">
                        <span class="font-weight-bold">DOT#: </span>
                        {{current_client.dot_number}}</li>
                {% if current_client.quickpay == 1 %}
                <li class="list-inline-item text-success">
                        Quickpay Available
                </li>
                {% else %}
                <li class="list-inline-item text-danger">
                        Quickpay Not Available
                </li>
                {% endif %}
            </ul>
            <hr />
        </div>
    </div>
    <div>
        <div>
            <ul class="list-inline d-flex justify-content-around">
                <li class="list-inline-item">
                    <img src="/static/img/icons/phone.png" class="mr-1" />
                    {{current_client.phone}}
                </li>
                <li class="list-inline-item">
                    <img src="/static/img/icons/fax.png" class="mr-1" />
                    {{current_client.fax}}
                </li>
                <li class="list-inline-item">
                    <img src="/static/img/icons/mail.png" class="mr-1" />
                    {{current_client.email}}
                </li>
            </ul>
        </div>

    </div>
</div>

{% endblock %}