<nav class="navbar navbar-expand-lg navbar-light shadow">
    <a class="navbar-brand" href="#">KT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li id="home" class="nav-item">
                <a class="nav-link" href="{{ url_for('main.index') }}">Home<span class="sr-only">(current)</span></a>
            </li>
            {% if current_user.is_authenticated %}
            <li id="dashboard" class="nav-item">
                <a class="nav-link" href="{{url_for('main.dashboard')}}">Dashboard</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
        <div class="d-flex justify-content-end">
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('auth.login')}}" class="btn btn-primary">Login</a>
            {% else %}
            <a href="{{ url_for('auth.logout') }}" class="btn btn-primary">Logout</a>
            {% endif %}
        </div>
    </div>
</nav>